@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#cursor {
  width: 10px;
  height: 10px;
  background: var(--background);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: screen;
  box-shadow: 0 0 20px var(--background);
}

.matrix-char {
  position: absolute;
  pointer-events: none;
  font-family: monospace;
  font-size: 20px;
  color: var(--background);
  transition: opacity 1s;
}
